header, body, footer{
  font-family: PlusJakartaSans,sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

header{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  position: fixed;
  height: 72.21px;
  width: 100%;
  background-color: white;
}

main{
  padding: 0;
  margin: 0;
}

h6{
  font-size: 17px;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

h5{
  font-size: 19px;
  font-weight: 400;
}

h4{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  font-family: 'Figtree', sans-serif;
}

h3{
  font-size: 33px;
  font-weight: 600;
}


h2{
  font-size: 41px;
  display: inline;
  font-weight: 600;
  line-height: 49.2px;
}

footer{
  margin-top: 8rem;
  height: 438px;
  width: 100%;
  background: rgba(245, 245, 245, 1);
  color: rgba(0, 0, 0, 1);
}

.logo{
  padding-left:5rem;
  width:55px;
  height: 55px;
  margin: 10px;
}

.search-bar{
  border-radius: 20px;
  border: 1px solid gray;
  height: 35px;
  width: 400px;
  color: gray;
  opacity: 0.8;
  padding-left: 15px;
}

.login{
  margin-right: 10px;
}

.logo, .login, .main-container button:hover{
  cursor: pointer;
}

.container-header-right{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;

}

.body-bg1{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
}

.blank-space{
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
}

.main-container{
  margin: 0 5rem;

}

.body-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.body-container article{
  display: inline;
  flex: 1;
}

.body-container article a{
  color: #CF4469;
  font-weight: bold;
}

.main-container button, .load-button, .discover-button, .host-event-button{
  height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  min-height: 2rem;
  color: white;
  background: linear-gradient(99.35deg, #E8336A 8.18%, #C12A58 92.24%);
  border: none;
  border-radius: 15px;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flexbox{
  width: 22%;
  margin-bottom: 4rem;
}

.flex-image{
  width: 100%;
  border-radius: 10px;
}

.flex-text-container{
  margin-top: 5px;
}

.event-detail{
  color: rgba(61, 61, 61, 1);

}

.line{
  border: 2px solid #DADADA;
}

.main-container a, .load-button a, .discover-button a, .host-event-button a{
  text-decoration: none;
  color: white;
}

.load-button{
  display:flex; 
  align-items: center;
  margin-left: 48.7rem;
}

.blackout{
  margin: 5rem 0;
  width: 100%;
  height: 558px;
  background: rgba(16, 16, 16, 1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.blackout-textarea{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-left: -10rem;
}

.blackout-textarea, .blackout-imgarea{
  width: 50%;
}

.discover-button{
  margin-left: -7.5rem;
}

.blackout-imgarea{
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}

.blackout-imgarea img{
  width: 188px;
  height: 125px;
}

.blackout-flex{
  width: 20%;
  margin-right: 5rem;
}

.blackout-flex h4{
  color: rgba(255, 255, 255, 1);
}

.ladki-box{
  height: 518.06px;
  width: 100%;
  display: flex;
}

.ladki{
  width: 80%;
  height: 518.06px;
  position: absolute;
  z-index: 1;
  right: 0;
}
.ladki img{
  border-radius: 6.91px;
  float: right;
  margin-right: 7rem;
}

.hostbox{
  width: 451px;
  height: 311px;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  z-index: 2;
  padding: 20px 40px 20px 20px;
  margin-top: 5rem;
  margin-left: 20rem;
  line-height: 2rem;
}

.hostbox h2{
  display: block;
  padding: 0;
  margin: 0;
}

.hostbox button{
  margin-top: 20px;
  margin-left: 30px;
}

.footer-flex{
  display: flex;
}

.blacklogo{
  width: 33%;
  height: 350px;
}
.blacklogo img{
  width: 240.88px;
  height: 59.32px;
  margin-top: 118px;
  margin-left: 116px;
}

.column-container {
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem 5rem 0 5rem;
}

.column {
  flex: 1;
  width: 20%;
  justify-content: space-between;
  line-height: 2rem;
}

.column h6{
  font-weight: bolder;
  margin-bottom: 20px;
}

.footer-footer{
  height: 88px;
  display: flex;
  padding: 0 5rem;
}

.footer-footer-text1{
  width: 90%;
  display: flex;
  flex-flow: row wrap;
}

.footer-footer-text2{
  width: 40%;
  display: flex;
  flex-flow: row wrap;
}

.footer-textbox{
  display: inline;
  margin: 15px;
}