.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flexbox{
  width: 90%;
  margin:2rem auto;
  justify-content:center;
}
.main-container h3{
  margin-left: 2vw;
}

.flex-image{
  width: 100%;
  border-radius: 10px;
}
.load-more{
  display: flex;
  align-items: center;
  justify-content: center;
}

.line{
  border: 0.1px solid rgba(218, 218, 218, 1);
}