body{
  margin: 0;
  padding: 0;
}
h6, h5,h4,h3, h2, h1{
  margin: 0;
  padding: 0;
}
header{
  background-color: white;
  font-weight: 500;
  width: 100vw;
  height: 6vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  padding: 1vw;
  z-index: 1000;
}

button{
  padding: 0 0.75rem;
  min-height: 2rem;
  color: white;
  background: linear-gradient(99.35deg, #E8336A 8.18%, #C12A58 92.24%);
  border: none;
  border-radius: 15px;
}
button a{
  color: white;
  text-decoration: none;
}

button:hover{
  cursor: pointer;
}

.logo{
  max-height: 6vh;
}

.search-bar{
  border-radius: 10px;
  border: 1px solid rgba(211, 215, 217, 1);
  padding: 0.5vh 5vw 0.5vh 2vw;
}

.container-header-right{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-right: 3vw;
}
.login{
  height: 20px;
  margin-left: 3px;
}



