@media screen and (min-width:800px) {
  .search-bar{
    padding: 1vh 10vw 1vh 2vw;
  }
  .body-bg1{
    margin-bottom: 5vh;
  }
  .text-block{
      backdrop-filter:none;
      margin-left: 5vw;
      padding-top: 15vh;
      width: 50%;
  }
  .text-block p{
    width: 80%;
  }
  .main-container h3{
    margin-left: 2vw;
  }
  .flexbox{
    width: 30%;
  }
  .line{
    border: 0.5px solid rgba(218, 218, 218, 1);
  }
  .blackout-flex{
    width: 30%;
  }
  .girl-box{
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin: 4vh 2vw;
  }
  .hostbox{
    position: absolute;
    z-index: 200;
    background-color: white;
    width: 20%;
    left: 0;
  }
  .girl-frame{
    z-index: 100;
    width: 80%;
    margin-right: -10vw;
  }
  
  .footer-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
  }
  .footer-footer-text1{
    width: 100%;
    justify-content: space-between;
  }
  .footer-textbox1{
    width: 15%;
  }
  .footer-textbox1-big{
    width: 20%;
  }
}
