@media screen and (max-width:360px) {
  header{
    height: auto;
    flex-wrap: nowrap;
  }
  .header-text{
    display: none;
  }
  .girl{
    width: 95%;
  }
  .hostbox{
    width:80%;
  }
  .hostbox p{
    font-size: 11px;
  }
  .hostbox h3{
    font-size: 18px;
  }
  .host-event-button{
    min-height: 1.5rem;
  }
  .hostbox a{
    font-size: 11px;
  }
}