.girl-box{
  margin: 10vh 2vh;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: space-around;
}
.girl{
  width: 100%;
}

.hostbox{
  margin: 2vh auto;
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.12);
  width: 50vh;
  border-radius: 15px;
  line-height: 1.1;
  padding: 2vh 3vw;
}
