body{
  font-family: 'Figtree', sans-serif;
  font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Plus Jakarta Sans', sans-serif;
}
h1{
  font-size: 52px;
  font-weight: 600;
}
h2{
  font-size: 41px;
  font-weight: 600;
}
h3{
  font-size: 33px;
  font-weight: 600;
}
h5{
  font-size: 19px;
  font-weight: 400;
}
p{
  font-size: 17px;
  font-weight: 400;
}