@media screen and (min-width:1000px){
  .container-header-right{
    padding-right: 0;
    width: 15%;
  }
  .search-bar{
    padding: 1.5vh 18vw 1.5vh 2vw;
  }
  .logo{
    max-height:6vh;
  }
  .flexbox{
    width: 22%;
  }
  .main-container h3{
    margin-left: 2vw;
  }
  .blackbox{
    flex-flow: row wrap;
    padding: 0 4vw 4vh 10vw;
  }
  .black-text{
    width: 40%;
  }
  .black-text h3{
    margin-bottom: 2vh;
  }
  .black-imgarea {
    width: 60%;
  }
  .black-imgarea{
    flex-flow: row wrap;
  }
  .blackout-flex{
    width: 45%;
  }
  .girlbox{
    margin: 4vh 8vw;
    padding: 0 10vw;
  }
  .girl-frame{
    padding-left: 15vw;
    width: 75%;
  }
  .girl{
    width: 80%;
  }
  .hostbox{
    width: 25%;
    margin-left: 4vw;
    line-height: 1.2;
  }
  .blacklogo{
    width: 20%;
    margin-left: 4vw;
  }
  .column-container{
    width: 70%;
  }
  .column{
    line-height: 180%;
    font-weight: 480;
  }
  .column h4{
    line-height: 250%;
  }
  .column-big{
    width: 20%;
  }
  .footer-footer{
    display: flex;
  }
  .footer-footer-text1{
    width: 100%;
    display: inline;
  }
  .footer-footer-text2{
    display: flex;
    flex-flow: row wrap;
    width:45% ;
  }
  .footer-textbox1{
    display: inline;
    margin: 1vh;
  }
  .footer-textbox2{
    display: inline-block;
  }
}
